/* Heading */
.heading {
    text-align: center;
}

.logo {
    width: 10%;
}

/* Game  Area */
.game-area {
    text-align: center;
    padding-top: 15rem;
    font-size: 150%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button-green {
    font-size: 200%;
    background-color: green;
}

.button-red {
    font-size: 200%;
    background-color: red;
}

/* Score Area */
.score-area{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

