/* Font */
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
 
/* Heading */
.logo {
    width: 10%;
}

.heading {
    text-align: center;
    font-size: 300%;
    font-family: jaro;
    font-weight: 500;
}

/* Game  Area */
.game-area {
    text-align: center;
    padding-top: 10rem;
    font-size: 200%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button-green {
    font-size: 150%;
    background-color: green;
    color: white;
    margin: 2%;
}

.button-red {
    font-size: 150%;
    background-color: red;
    color: white;
    margin: 2%;
}

/* Score Area */
.score-area{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.scores {
    font-size: 120%;
}

